/*==================
Common CSS
===================*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#16213E;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

/*==================
Card Area CSS
===================*/
.card{
  width:400px;
  height:500px;
  border-radius:12px;
  background-color:#0F3460;
  padding-top:2%;
  overflow: hidden;
  cursor: pointer;
  margin-top: -120px;
}
.card .title h1{
  font-family:Gilroy;
  color:white;
  font-size:2rem;
  text-align:center;
  padding:2%;
}
.card .title p{
  font-family:Open Sans;
  color:white;
  text-align: center;
}
.card .image{
  display: flex;
  justify-content: center;
  margin-top:5%;
  align-items: center;
}
.card .image .outer{
  background-color:#E94560;
  height:140px;
  width:140px;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .image .inner{
  height:120px;
  width:120px;
  overflow:hidden;
  border-radius:50%;
}
.card .image .inner img{
  width:100%;
}
.card .name{
  color:white;
  text-align: center;
  font-family:Gilroy;
  font-size:1.5rem;
  font-weight:bold;
  margin-top:2%;
}
.card .details{
  background-color:#E94560;
  height:28%;
  margin-top:10%;
  border-top-left-radius:75px;
  padding:7%;
  color:white;
  font-family:sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:5px solid white;
}
.card .details .col{
  width: 60%;
}
.card .details .col img{
  width: 100%;
}
.card .details .col:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details li{
  width: 1200px;
  margin-top:6%;
  font-size: 1rem;
}

/*==================
From Area CSS
===================*/

.form_area{
  width: 400px;
  height: 545px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px;
  background: #000;
  margin-top: 80px;
}

.form_area input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #ffff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
  margin-left: 75px;
}


.form_area h2{
  width: 380px;
  height: 30px;
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  padding-top: 20px;
}

::placeholder{
  color: #808080;
  font-family: Arial;
  font-size: 13px;
}


.btnn{
  width: 200px;
  height: 40px;
  background: #d73d3d;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 95px;
  
}

.btnn input{
  border-bottom: none;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-left: -15px;
  margin-top: 2px;
  cursor: pointer;
}

/*==================
Image CSS
===================*/
.form_area .form_img{
  border-bottom: none;
}
